~$Premium_Auto_Cleaned.xlsx
~$df_sprav.xlsx
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
*.env
.env